<style>
    .curation-icon-btn {
        background: transparent !important;
    }
    .curation-icon-btn:hover {
        color: rgb(233, 69, 96) !important;
    }
</style>

<div class="random-card ui fluid blue card">
    <div class="content">
        <i class="search icon blue"></i>
        <a href="https://www.google.com/search?tbm=isch&q=<%= uncurated.description.commonName %>" target="_blank">
            <%= uncurated.description.commonName %>
        </a>
    </div>
    <div class="image">
        <img src="data:image/png;base64,<%= uncurated.thumbnail %>">
    </div>
    <div class="content" style="text-align: center">
        <div class="ui buttons">
            <button class="ui inverted red button">Reject</button>
            <div class="or"></div>
            <button class="ui inverted green button">Accept</button>
        </div>
    </div>
</div>