<style>
    #randoms-container {
        margin-top: 3em;
    }
</style>

<h2 class="ui center aligned icon header">
    <i class="circular shuffle icon blue"></i>
    Thumbnails for <% description %>
</h2>

<div id="randoms-container" class="ui three column grid">
    <% for(var i=0; i < thumbnails.length; i++) { %>
        <div class="column">
            <%- include('curation-card', {thumbnail: thumbnails[i]}); %>
        </div>
    <% } %>
</div>