<!DOCTYPE html>
<html>
<head>
    <title>Kiwi</title>
    <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
    <link rel="stylesheet" href="/assets/css/toast.css">
    <style>
        .main.container {
            margin-top: 7em;
        }
    </style>
    <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="/assets/semantic/semantic.min.js"></script>
</head>
<body>

<div class="ui dxed inverted menu">
    <a href="/" class="header item">Accueil</a>
    <a href="/curation" class="header item">Curation</a>
</div>
<div class="ui main container">