<!DOCTYPE html>
<html>
<head>
    <title>Kiwi</title>
    <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
    <style>
        .main.container {
            margin-top: 7em;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/assets/semantic/semantic.min.js"></script>
</head>
<body>

<div class="ui dxed inverted menu">
    <a href="" class="header item">Accueil</a>
</div>
<div class="ui main container">