<%- include('header') -%>

<form action="/search" method="POST" class="ui form">
    <div class="field">
        <label for="search">Search</label>
        <input type="text" placeholder="Search.." name="search" value="<%= query %>">
    </div>
    <button type="submit" class="ui blue labeled submit icon button">
        <i class="icon search"></i>Go
    </button>
</form>

<%- include('footer') -%>