<div id="navigation">
  <div class="banner">
    <a id="logo" href="/" class="header item">Kiwi</a>
    <div id="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>

<div class="menu">
  <ul class="links">
    <li>
      <a href="/curation" class="link">Curation</a>
    </li>
    <li>
      <a href="/search" class="link">Recherche</a>
    </li>
  </ul>
</div>