<style>
    #randoms-container {
        margin-top: 3em;
    }
</style>

<h2 class="ui center aligned icon header">
    <i class="circular shuffle icon blue"></i>
    Randoms
</h2>

<script>
    function openModal(id){
        $('#modal-full-' + id).modal('show');
    }
</script>

<div id="randoms-container" class="ui three column grid">
    <% for(var i=0; i < descriptions.length; i++) { %>
        <div class="column">
            <%- include('desc-card', {description: descriptions[i]}); %>
            <%- include('desc-modal', {description: descriptions[i]}); %>
        </div>
    <% } %>
</div>